Resources/Forms/XML/formulario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="form">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="id" type="xsd:string" />
        <xsd:element name="meta">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="version" type="xsd:int" />
              <xsd:element name="name" type="xsd:string" />
              <xsd:element name="author" minOccurs="0" >
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="user" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="geolocalized" type="xsd:string" />
              <xsd:element name="description" type="xsd:string" minOccurs="0" />
              <xsd:element name="creationdate" type="xsd:string" minOccurs="0" />
              <xsd:element name="active" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="sections">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="section">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="id" type="xsd:string" />
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="fields">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="unbounded" name="field">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="id" type="xsd:string" />
                                <xsd:element name="label" type="xsd:string" />
                                <xsd:element name="type" type="xsd:string" />
                                <xsd:element name="required" type="xsd:string" minOccurs="0" />
                                <xsd:element name="options" minOccurs="0">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element maxOccurs="unbounded" name="option">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="label" type="xsd:string" />
                                            <xsd:element name="value" type="xsd:string" />
                                            <xsd:element name="default" type="xsd:string"  minOccurs="0" />
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="properties" minOccurs="0">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element maxOccurs="unbounded" name="property">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="name" type="xsd:string" />
                                            <xsd:element name="value" type="xsd:string" />
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element maxOccurs="unbounded" name="group" minOccurs="0">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="id" type="xsd:string" />
                                <xsd:element name="list" type="xsd:string" />
                                <xsd:element name="label" type="xsd:string" />
                                <xsd:element name="required" type="xsd:string" minOccurs="0" />
                                <xsd:element maxOccurs="unbounded" name="field">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="id" type="xsd:string" />
                                      <xsd:element name="label" type="xsd:string" />
                                      <xsd:element name="type" type="xsd:string" />
                                      <xsd:element name="required" type="xsd:string" minOccurs="0" />
                                      <xsd:element name="options" minOccurs="0">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element maxOccurs="unbounded" name="option">
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="label" type="xsd:string" />
                                                  <xsd:element name="value" type="xsd:string" />
                                                  <xsd:element name="default" type="xsd:string"  minOccurs="0" />
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="properties" minOccurs="0">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element maxOccurs="unbounded" name="property">
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="name" type="xsd:string" />
                                                  <xsd:element name="value" type="xsd:string" />
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="properties" minOccurs="0">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element maxOccurs="unbounded" name="property">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="name" type="xsd:string" />
                                            <xsd:element name="value" type="xsd:int" />
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>